.movies-box__list {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 38px;
  margin: 70px auto 10px;
}

.movies-box__button {
  display: flex;
  justify-content: center;
  max-width: 1140px;
  min-height: 165px;
  margin: 0 auto;
  padding: 0;
}

.movies-box__btn {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background: #2f2f2f;
  border: none;
  margin: 50px auto 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 1279px) {
  .movies-box__list {
    max-width: 708px;
    column-gap: 30px;
    row-gap: 30px;
    margin: 70px auto 10px;
  }

  .movies-box__button {
    max-width: 708px;
    min-height: 167px;
  }
}

@media screen and (max-width: 767px) {
  .movies-box__list {
    max-width: 300px;
    gap: 34px;
    margin: 40px auto 10px;
  }

  .movies-box__button {
    max-width: 300px;
    min-height: 166px;
  }
  
  .movies-box__btn {
    width: 240px;
  }
}
