.saved-movies {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 38px;
  margin: 70px auto 240px;
}

@media screen and (max-width: 1279px) {
  .saved-movies {
    max-width: 708px;
    gap: 30px;
    margin: 70px auto 152px;
  }
}

@media screen and (max-width: 767px) {
  .saved-movies {
    max-width: 300px;
    gap: 34px;
    margin: 40px auto 152px;
  }
}