.aboutMe {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.aboutMe__studen {
  margin-bottom: 66px;
  margin-top: 113px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;

  font-size: 22px;
  letter-spacing: -0.88px;  
}

.aboutMe__text {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.aboutMe__name {
  margin: 0;
  
  font-size: 50px;  
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -2px;
}

.aboutMe__job {
  margin: 18px 0 0 0;
  
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.aboutMe__text-avatar {
  display: flex;
  gap: 270px;
}

.aboutMe__biografiya {
  margin: 26px 0 0 0;
  width: 599px;

  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  line-height: 22px;
}

.aboutMe__avatar {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

.aboutMe__git {
  margin-top: 99px;

  font-size: 14px;
  font-weight: 500;
}


/* ----------------------------------------------- */

@media screen and (max-width: 1279px) {

  .aboutMe {    
    max-width: 668px;
  }

  .aboutMe__studen {
    margin-bottom: 66px;
    margin-top: 94px;
    padding-bottom: 23px;

    font-size: 18px;
    letter-spacing: 1.72px
  }
  
  .aboutMe__name {
    font-size: 40px;
    line-height: 40px;    
    letter-spacing: -1.6px
  }

  .aboutMe__job {
    margin: 16px 0 0 0;    

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .aboutMe__text-avatar {    
    gap: 49px;
  }

  .aboutMe__biografiya {
    max-width: 363px;    
    margin: 20px 0 0 0;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    line-height: 18px;
  }

  .aboutMe__avatar {    
    width: 255px;
    height: 307px;
  }

  .aboutMe__git {
    margin: 87px 0 0 0;

    font-size: 14px;
    font-weight: 500;
  }

  .aboutMe__sites {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
  }

}

@media screen and (max-width: 767px) {

  .aboutMe {    
    max-width: 292px;
  }

  .aboutMe__studen {
    margin-top: 69px;
    margin-bottom: 60px;
    padding-bottom: 28px;
    border-bottom: 1px solid #DADADA;

    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .aboutMe__name {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .aboutMe__job {    
    margin: 13px 0 0 0;

    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
  }

  .aboutMe__text-avatar {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .aboutMe__biografiya {
    margin: 20px 0 0 0;
    max-width: 292px;    
    
    font-size: 11px;
    line-height: 16px;
  }

  .aboutMe__avatar {    
    width: 292px;
    height: 352px;
  }

  .aboutMe__git {
    margin-top: 40px;

    font-size: 14px;
    font-weight: 500;
  }

}